[Unit]
Description=Personal System Monitor
Documentation=https://github.com/zlaam/system-monitor
After=network.target

[Service]
Type=simple
User=zlaam
ExecStart=/home/zlaam/coding/system/self/dist/monitor start
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=system-monitor

Environment=HOME=/home/zlaam
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
